center{
    color: white ;
  }
  .auch{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .container1{
      background-color:#6495ED ;
      margin-top: 50px;
      width:  600px;
      border-radius: 30px;
  }
  .auc{
      background-color: #283747 ;
  }
  label{
     font-family: 'Times New Roman', Times, serif;
  }
  .btn1{
      display: flex;
      justify-content: center;
      background-color: black;
      color: white;
  }
  .btn1:hover{
      background-color:#06245d;
      color: white;
  }
  .btns:hover{
      background-color:  black;
      color: white;
  }
  .btns{
      background-color: #fff;
      color: grey;
  }