#cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#b1,#b2,#b3,#b4{
    min-width:300px;
    text-align: center;   
    background: linear-gradient(80deg,rgb(195, 120, 50),rgb(196, 118, 45),rgb(156, 79, 8));

}
.rh{
    color: rgb(228, 228, 226);
}
#routemap{
    min-height: 150%;
    padding-top: 4%;
    width: 100%;
    background-color: rgb(41, 42, 46);
/* 
    background: linear-gradient(80deg,rgb(195, 120, 50),rgb(196, 118, 45),rgb(156, 79, 8));
    background-size: 600% 600%;
    animation: AnimationName 20s ease infinite;
    animation-delay: 10s; */
}


#b2,#b4{
    position:relative;
    left: 300px;

}

#b1,#b3{
    position: relative;
    left:-300px;
}
#line{
    width: 600px;
    height: 5px;
    background-color: rgb(228, 228, 226);
    animation: rotate 2s 1;
    position: relative;
    transform: rotate(90deg);
}
@keyframes rotate{
    0% {transform: rotate(0deg);} 100%{transform: rotate(90deg);}
}

#name{
    padding-top: 10%;
    padding-bottom: 16%;
}

/* @keyframes AnimationName { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
} */

#main-text{
   padding-top: 100px;
   padding-left: 50px;
   position: relative;
}
#b1{
    animation: slide1 3s 1;
}
#b2{
    animation: slide2 2.5s 1;
}
#b3{
    animation: slide3 2s 1;
}
#b4{
    animation: slide4 1.5s 1;
}

@keyframes slide1{

    from{left:-400px } to {left:-300px} 
}
@keyframes slide2{

    from{left:400px } to {left:300px} 
}
@keyframes slide3{

    from{left:-400px } to {left:-300px} 
}
@keyframes slide4{

    from{left:400px } to {left:300px} 
}


.arrow1{
    position: relative;
    margin-top: -4%;
    left:-8%;
    color: white;
    
}
.arrow2{
    position: relative;
    margin-top: -4%;
    right:-8%;
    color: white;
}

.overlay{
    opacity: 0.3;
    background-color: black;
    
}
.co{
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); */
    background-color: rgba(214, 159, 114,0.5);
}
.co-img{
    height: 550px;
    width: 100%;
    display: block;
}
.caption{
    background-color: rgba(0,0,0,0.7); /* Adjust the alpha value (0.5) to control opacity */
    color: #fff; 
    border-radius: 20px;
    /* color: rgb(214, 159, 114); */
}
.carousel-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
}
.btn1{
    margin: auto;
    background-color: rgb(196, 118, 45);
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-top: 20px;
}
.btn1:hover{ 
    background-color: rgb(226, 114, 10);
}
.start{
    color: rgb(196, 118, 45) ;
}
.quote{
    margin-top: -8px;
}

.card-container{
    display: flex;
    background-image: url(./bgforpgm.jpg);
    align-items: center!important;
    justify-content: space-around!important;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 12%;
    padding-bottom: 12%;
    
}
.roadmaph{
    background-image: url(./roadbg.jpg);
    margin: auto;
    padding: 5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: rgb(196, 118, 45);
}




@media only screen and (max-width: 600px) {
    .co-img{
        height: 50vh;
        width: 200%;
        margin-left: -50%;
    }
    .caption{
        margin-top: 25vh;
        /* width: 100%; */
        height: 100%;
        padding: 20%!important;
        background-color: rgba(0,0,0,0.85); /* Adjust the alpha value (0.5) to control opacity */
        color: #fff;
        border-radius: 7px;
        /* color: rgb(214, 159, 114); */
    }
    .carousel-caption {
        /* position: absolute;
        margin-top: 50%; */
        width: 100%;
        transform: translate(-50%, -50%);

    }
    .co{
        height: 90vh;
    }
    .carousel-item{
        height: 90vh;
    }
    .card-container{
        display: block;
        background-image: url(./bgforph.jpg);
    }
}